<body class="bg-color">
  <div class="container ">
    <div class="row mt-4">
      <h2 class="col-10"><strong><%= @storage_location.name %></strong> (<%= @storage_location.restaurant.name %>)</h2>
      <div class="col-2 align-self-center">
        <%= link_to "", restaurants_path, class: "fas fa-arrow-left me-3" %>
        <%= link_to "", edit_storage_location_path(@storage_location), class: "fas fa-edit me-3" %>
        <%= link_to "", storage_location_path(@storage_location), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this storage location?" }, class: "fas fa-trash-alt" %>
      </div>

      <div class="container main-box col-12">
        <div class="row mb-3">
          <div class="col-2">Address:</div>
          <div class="col-10"><%= @storage_location.address %></div>
        </div>
        <div class="row mb-3">
          <div class="col-2">Capacity:</div>
          <div class="col-10"><%= @storage_location.capacity %> bottles</div>
        </div>
        <div class="row mb-3">
          <div class="col-2">Temperature:</div>
          <div class="col-10"><%= @storage_location.temperature %></div>
        </div>
      </div>
    </div>
  </div>
</body>
