<%= form_for(@purchasing_request_item) do |f| %>
  <% if @purchasing_request_item.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@purchasing_request_item.errors.count, "error") %> prohibited this purchasing request item from being saved:</h4>
      <ul>
        <% @purchasing_request_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :wine_id %>
    <%= f.select :wine_id, options_for_select(@wines_by_supplier[purchasing_request_item.supplier_id].map { |wine| [wine.full_name, wine.id] }, selected: purchasing_request_item.wine_id), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: 'form-control' %>
  </div>

  <%= f.hidden_field :purchasing_request_id, value: params[:purchasing_request_id] %>

  <div class="form-group">
    <%= f.submit "Update Purchasing Request Item", class: "btn btn-primary" %>
    <%= link_to 'Cancel', purchasing_request_path(params[:purchasing_request_id]), class: 'btn btn-light' %>
  </div>
<% end %>
