<div class="container">
  <h1>Purchasing Request Items</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Wine</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @purchasing_request_items.each do |item| %>
        <tr>
          <td><%= item.wine.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= number_to_currency(item.total) %></td>
          <td>
            <%= link_to 'Edit', edit_purchasing_request_item_path(item), class: 'btn btn-primary' %>
            <%= link_to 'Delete', purchasing_request_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Purchasing Request Item', new_purchasing_request_item_path, class: 'btn btn-primary' %>
</div>
