<body class="bg-img">
  <div class="container mt-3 main">
    <div class="row">
      <div class="col-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3><i class="fa fa-archive" aria-hidden="true"></i> STOCK</h3>
            <%= link_to "ðŸ”", wines_path, class: "btn-home" %>
            <%= link_to "+", new_wine_path, class: "btn-create" %>
          </div>
        </div>
      </div>
      <div class="col-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> PURCHASING REQUESTS</h3>
            <%= link_to "ðŸ”", purchasing_requests_path, class: "btn-home" %>
            <%= link_to "+", new_purchasing_request_path, class: "btn-create" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3><i class="fa fa-truck" aria-hidden="true"></i> SUPPLIERS</h3>
            <%= link_to "ðŸ”", suppliers_path, class: "btn-home" %>
            <%= link_to "+", new_supplier_path, class: "btn-create" %>
          </div>
        </div>
      </div>
      <div class="col-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i> STORAGES</h3>
            <%= link_to "ðŸ”", storage_locations_path, class: "btn-home" %>
            <%= link_to "+", new_storage_location_path, class: "btn-create" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
