<body class="bg-img">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>🧮 STOCKS SITUATION</h3>
            <%= link_to "See current stock situation details", root_path, class: "btn-home" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>🍇 NEW ITEMS</h3>
            <%= link_to "Create new wine card", root_path, class: "btn-home" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>💸 PURCHASE REQUEST (PR)</h3>
            <%= link_to "New PR", new_purchasing_request_path, class: "btn-home" %>
            <%= link_to "See pending PR", purchasing_requests_path, class: "btn-home" %>
            <%= link_to "See PR history", purchasing_requests_path, class: "btn-home" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>🚛 SUPPLIERS</h3>
            <%= link_to "See your suppliers", suppliers_path, class: "btn-home" %>
            <%= link_to "Create new supplier", new_supplier_path, class: "btn-home" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>🚀 PURCHASE ORDER (PO)</h3>
            <%= link_to "See pending PO", root_path, class: "btn-home" %>
            <%= link_to "See PO history", root_path, class: "btn-home" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 pt-2 mb-1">
        <div class="card category-card">
          <div class="card-body">
            <h3>📦 STORAGE LOCATIONS</h3>
            <%= link_to "See your storages", root_path, class: "btn-home" %>
            <%= link_to "Create new storage location", root_path, class: "btn-home" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
