<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><%= @restaurant.name %></h1>
      <p>Address: <%= @restaurant.address %></p>
      <p>Phone: <%= @restaurant.phone_number %></p>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
      <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
