<div class="container">
  <h1>Purchasing Requests</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Supplier</th>
        <th>Delivery Date</th>
        <th>Delivery Time Slot</th>
        <th>Wine Quantities</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @purchasing_requests.each do |pr| %>
        <tr>
          <td><%= pr.id %></td>
          <td><%= pr.supplier.name %></td>
          <td><%= pr.delivery_date %></td>
          <td><%= pr.delivery_time_slot %></td>
          <td>
            <% pr.purchasing_request_items.each do |item| %>
              <%= item.wine.maker %> (<%= item.wine.name %>):
              <%= item.quantity %><br>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', purchasing_request_path(pr), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_purchasing_request_path(pr), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Destroy', purchasing_request_path(pr), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this course?" }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Purchasing Request', new_purchasing_request_path, class: 'btn btn-primary' %>
</div>
