<div class="container">
  <h1>New Purchasing Request</h1>
  <%= form_with(model: @purchasing_request, local: true, class: "form") do |form| %>
    <% if @purchasing_request.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@purchasing_request.errors.count, "error") %> prohibited this purchasing request from being saved:</h2>

        <ul>
          <% @purchasing_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :supplier_id %>
      <%= form.collection_select :supplier_id, @suppliers, :id, :name, {prompt: "Select a supplier"}, { class: 'form-control' } %>
    </div>

     <div class="form-group">
      <%= form.label :delivery_date %>
      <%= form.date_field :delivery_date, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :delivery_time_slot %>
      <%= form.select :delivery_time_slot, options_for_select(PurchasingRequest::TIME_SLOTS), {prompt: "Select a time slot"}, { class: 'form-control' } %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Wine</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td colspan="2"><%= supplier.name %></td>
          </tr>

          <% supplier.wines.each do |wine| %>
            <tr>
              <td><%= wine.maker %></td>
              <td><%= form.fields_for :purchasing_request_items, @purchasing_request.purchasing_request_items.find_or_initialize_by(wine_id: wine.id) do |item| %>
                <%= item.hidden_field :wine_id, value: wine.id %>
                <%= item.number_field :quantity, value: item.object.quantity, min: 0, class: 'form-control' %>
              <% end %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="form-group">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
