<h1><%= @purchasing_request.supplier.name %> Purchase Request</h1>
<p><strong>Delivery Date:</strong> <%= @purchasing_request.delivery_date %></p>
<p><strong>Delivery Time Slot:</strong> <%= @purchasing_request.delivery_time_slot %></p>
<p><strong>Created By:</strong> <%= @purchasing_request.user.first_name %></p>

<table>
  <thead>
    <tr>
      <th>Wine</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @purchasing_request.purchasing_request_items.each do |item| %>
      <tr>
        <td><%= item.wine.maker %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_purchasing_request_path(@purchasing_request) %>
<%= link_to 'Back', purchasing_requests_path %>
