<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @purchasing_request.supplier.name %> Purchase Request</h1>
      <p class="card-text">
        <strong>Delivery Date:</strong> <%= @purchasing_request.delivery_date %>
      </p>
      <p class="card-text">
        <strong>Delivery Time Slot:</strong> <%= @purchasing_request.delivery_time_slot %>
      </p>
      <p class="card-text">
        <strong>Created By:</strong> <%= @purchasing_request.user.first_name %>
      </p>
      <p class="card-text">
        <strong>Approval Status:</strong> <%= @purchasing_request.approval_status %>
      </p>
      <p class="card-text">
        <strong>User Position:</strong> <%= current_user.position %>
      </p>

      <% if current_user.position == 'owner' %>
        <% if @purchasing_request.approval_status != 'approved' %>
          <%= button_to 'Approve', approve_purchasing_request_path(@purchasing_request), method: :put, class: "btn btn-success" %>
        <% end %>
        <% if @purchasing_request.approval_status != 'rejected' %>
          <%= button_to 'Reject', reject_purchasing_request_path(@purchasing_request), method: :put, class: "btn btn-danger" %>
        <% end %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Request More Info
        </button>
      <% end %>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Request More Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with(url: request_more_info_purchasing_request_path(@purchasing_request), method: :put) do |f| %>
                <div class="mb-3">
                  <%= f.label :message, "Message", class: "form-label" %>
                  <%= f.text_area :message, class: "form-control" %>
                </div>
                <%= f.submit "Send", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>Wine</th>
              <th>Order Quantity</th>
              <th>Stock Quantity</th>
              <th>Unit Price</th>
              <th>Avg Price</th>
              <th>Selling Price</th>
              <th>Cost</th>
              <th>Vintage</th>
              <th>Region</th>
              <th>Appellation</th>
              <th>Cuvée</th>
            </tr>
          </thead>
          <tbody>
            <% @purchasing_request.purchasing_request_items.each do |item| %>
              <% if item.quantity && item.quantity > 0 %>
                <tr>
                  <td><%= item.wine.maker %></td>
                  <td><%= item.quantity %></td>
                  <td><%= item.wine.quantity %></td>
                  <td><%= item.wine.unit_price %></td>
                  <td><%= item.wine.avg_price %></td>
                  <td><%= item.wine.selling_price %></td>
                  <td><%= item.wine.cost %></td>
                  <td><%= item.wine.vintage %></td>
                  <td><%= item.wine.region %></td>
                  <td><%= item.wine.appellation %></td>
                  <td><%= item.wine.cuvee %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <% if @purchasing_request.note.present? %>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">More Information Requested</h5>
            <p class="card-text"><%= @purchasing_request.note %></p>
          </div>
        </div>
      <% end %>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <%= form_with(url: create_note_purchasing_request_path(@purchasing_request), method: :post, remote: true, id: "new-note-form", data: { controller: "notes", "notes-target": "form" }) do |f| %>
            <div class="mb-3" id="note_errors"></div>
            <%= f.label :content, "Add Note", class: "form-label" %>
            <%= f.text_area :content, class: "form-control", name: "note[content]", id: "note_content" %>
            <%= f.submit "Add Note", class: "btn btn-primary", data: { disable_with: 'Creating Note...' }, "data-notes-target": "submitButton" %>
          <% end %>

          <div id="notes" data-controller="notes">
            <% @purchasing_request.notes.reverse_each do |note| %>
              <div class="card mt-2">
                <div class="card-body">
                  <p class="card-text"><%= note.content %></p>
                  <p><strong>Added by:</strong> <%= note.user.first_name %></p>
                  <p><strong>Added at:</strong> <%= note.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'Edit', edit_purchasing_request_path(@purchasing_request), class: "btn btn-primary" %>
      <%= link_to 'Back', purchasing_requests_path, class: "btn btn-secondary" %>

    </div>
  </div>
</div>
