<div class="container main-box mt-4">
  <body class="bg-color">
    <% if @purchasing_request.approval_status == 'delivered' %>
      <div class="alert alert-success" role="alert">
        Stock has been delivered!
      </div>
    <% end %>
    <div class="row">
      <h3 class="col-10">PR # <strong><%= @purchasing_request.id %></strong></h3><br>
        <div class="col-2">
        <%= link_to "", purchasing_requests_path, class: "fas fa-arrow-left mr-2" %>
        <%= link_to edit_purchasing_request_path(@purchasing_request), class: 'fas fa-edit icon-edit mr-2' do %>
        <% end %>
        <%= link_to purchasing_request_path(@purchasing_request), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this purchasing request?" }, class: 'fas fa-trash-alt icon-trash' do %>
        <% end %>
        </div>
      <div class="container col-12">
        <h5 class="border-bottom mb-3 pb-4"> <%= @purchasing_request.supplier.name %></h5>
      </div>
    </div>
    <div class="row col-12 mt-1">
      <p class="card-text col-6">Delivery Date: <strong><%= @purchasing_request.delivery_date %></strong></p>
      <p class="card-text col-6">Delivery Time Slot: <strong><%= @purchasing_request.delivery_time_slot %></strong></p>
    </div>
    <div class="row col-12">
      <p class="card-text col-6">Created By: <strong><%= @purchasing_request.user.first_name %></strong>  (<%= current_user.position %>)</p>
      <p class="card-text col-6">Approval Status: <strong><%= @purchasing_request.approval_status %></strong></p>
    </div>
    <div class="row col-12 mt-1 txt-s">
      <p class="card-text col-6">Created on: <strong><%= @purchasing_request.created_at %></strong></p>
      <p class="card-text col-6">Updated on: <strong><%= @purchasing_request.updated_at %></strong></p>
    </div>
  </div>
   <!-- Table -->
  <div class="container main-box mt-3">
    <h5>Order Details</h5>
    <table class="table mt-2 txt-s">
      <thead class="table-title">
        <tr>
          <th>Vint.</th>
          <th>Maker</th>
          <th>Appellation</th>
          <th>Cuvee</th>
          <th class="text-right">Selling price</th>
          <th class="text-right">Current stock</th>
          <th class="text-right">Unit price</th>
          <th class="text-right">Order Qty</th>
          <th class="text-right">Order Value</th>
        </tr>
      </thead>
      <tbody>
        <% @purchasing_request.purchasing_request_items.each do |item| %>
        <% if item.quantity && item.quantity > 0 %>
          <tr data-controller="wine-click" data-wine-click-url="<%= wine_path(item.wine) %>" data-action="click->wine-click#goToUrl">
            <td><%= item.wine.vintage %></td>
            <td><%= item.wine.maker %></td>
            <td><%= item.wine.appellation %></td>
            <td><%= item.wine.cuvee %></td>
            <td class="text-right">$<%= item.wine.selling_price %></td>
            <td class="text-right"><%= item.wine.quantity %></td>
            <td class="text-right">$<%= item.wine.unit_price %></td>
            <td class="text-right"><strong><%= item.quantity %></strong></td>
            <td class="text-right"><strong>$<%= item.quantity * item.wine.unit_price %></strong></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="row col-12 justify-content-center">
      <div class="col-4 total"><p>Total quantity: <strong><%= @purchasing_request.purchasing_request_items.inject(0) { |sum, item| sum + (item.quantity || 0) } %></strong></p></div>
      <div class="col-4 total"><p>Total value: <strong>$<%= @purchasing_request.purchasing_request_items.inject(0) { |sum, item| sum + (item.quantity || 0) * item.wine.unit_price } %></strong></p></div>
    </div>
  </div>
    <!-- Status-->
    <div class="container">
      <div class="row col-12 justify-content-center">
          <%= render partial: "purchasing_requests/form", locals: { purchasing_request: @purchasing_request } %>
      </div>
    </div>
    <!-- Status-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request More Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form_with(url: request_more_info_purchasing_request_path(@purchasing_request), method: :put, local: true) do |f| %>
                <div class="mb-3">
                  <%= f.label :message, "Message", class: "form-label" %>
                  <%= f.text_area :message, name: 'request_more_info[message]', class: "form-control" %>
                </div>
                <%= f.submit "Send", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-box mt-2">
    <div class="card-body col-12">
      <!-- Display note if it exists -->
      <% if @purchasing_request.note.present? %>
      <h5 class="card-title border-bottom pb-3">Additional Information Requested</h5>
      <p class="card-text">※ <%= @purchasing_request.note %></p>
    </div>
    <% else %>
      <p><i>No note present for this request</i></p>
    <% end %>
  </div>

    <!-- Notes section -->
  <div class="container main-box mt-3">
    <div class="card-header table-title">
      <h5>Notes</h5>
    </div>
    <div class="card-body">
      <%= render partial: "notes/form", locals: { note: @note, purchasing_request: @purchasing_request } %>
      <div id="notes">
        <% @purchasing_request.notes.reverse_each do |note| %>
          <%= render partial: "notes/note", locals: { note: note } %>
        <% end %>
      </div>
    </div>
  </div>
</body>
