<% if @purchasing_request.errors.present? %>
  <%= turbo_stream.replace "purchasing_request_errors" do %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchasing_request.errors.count, "error") %> prohibited this purchasing_request from being saved:</h2>
      <ul>
        <% @purchasing_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "approval_status_frame" do %>
    <p class="card-text col-6">Approval Status: <strong><%= @purchasing_request.approval_status %></strong></p>
  <% end %>

  <%= turbo_stream.replace "buttons_frame" do %>
    <%= render partial: "purchasing_requests/buttons", locals: { purchasing_request: @purchasing_request } %>
  <% end %>
<% end %>
