<body class="bg-color">
  <div class="container">
    <div class="row">
      <div class="row mt-4">
      <h2 class="col-11"><i class="fa fa-edit" aria-hidden="true"></i> <%= @supplier.name %></h2>
      <div class="col-1 align-self-center">
        <%= link_to "", suppliers_path, class: "fas fa-arrow-left me-3" %>
      </div>
        <div class="container main-box col-12">
        <h5 class="border-bottom"><strong>Company informations</strong></h5>
          <%= form_for @supplier do |f| %>
          <div class="row col-12">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
        </div>

          <div class="row col-12">
            <div class="form-group col-6">
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number, class: 'form-control', required: true %>
            </div>

            <div class="form-group col-6">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', required: true %>
            </div>
          </div>
        </div>


        <div class="container main-box col-12">
        <h5 class="border-bottom"><strong>Main contact informations</strong></h5>
          <div class="row col-12">
            <div class="form-group">
              <%= f.label :contact_full_name %>
              <%= f.text_field :contact_full_name, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="row col-12">
            <div class="form-group col-6">
              <%= f.label :contact_phone_number %>
              <%= f.text_field :contact_phone_number, class: 'form-control', required: true %>
            </div>

            <div class="form-group col-6">
              <%= f.label :contact_email %>
              <%= f.email_field :contact_email, class: 'form-control', required: true %>
            </div>
          </div>

          <div class ="row col-12">
            <div class="form-group">
              <%= f.label :comment %>
              <%= f.text_area :comment, class: 'form-control' %>
            </div>
          </div>

        </div>

          <%= f.submit 'Update Supplier', class: 'btn-home col-12 mb-3' %>
        <% end %>
      </div>
    </div>
  </div>
</body>
