<body class="bg-img">
  <div class="container ">
    <div class="row mt-4">
      <h2 class="col-10"><%= @supplier.name %></h2>
      <div class="col-2 align-self-center">
        <%= link_to "", suppliers_path, class: "fas fa-arrow-left me-3" %>
        <%= link_to "", edit_supplier_path(@supplier), class: "fas fa-edit me-3" %>
        <%= link_to "", supplier_path(@supplier), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this supplier?" }, class: "fas fa-trash-alt" %>
      </div>

      <div class="container main-box col-6">
        <h5 class="border-bottom">Company details</h5>
        <div class="row mb-3">
          <div class="col-5">Phone Number:</div>
          <div class="col-7"><%= phone_to @supplier.phone_number, class: "link_to" %></div>
        </div>

        <div class="row mb-3">
          <div class="col-5">Email:</div>
          <div class="col-7"><%= mail_to @supplier.email, class: "link_to" %></div>
        </div>

        <h5 class="border-bottom pt-3">Main contact</h5>
        <div class="row mb-3">
          <div class="col-5">Contact Name:</div>
          <div class="col-7"><%= @supplier.contact_full_name %></div>
        </div>

        <div class="row mb-3">
          <div class="col-5">Phone Number:</div>
          <div class="col-7"><%= phone_to @supplier.contact_phone_number, class: "link_to" %></div>
        </div>

        <div class="row mb-3">
          <div class="col-5">Contact Email:</div>
          <div class="col-7"><%= mail_to @supplier.contact_email, class: "link_to" %></div>
        </div>
      </div>

      <div class="container col-1">
      </div>

      <div class="container main-box col-5">
        <h5 class="border-bottom">Represented Wine Makers</h5>
          <ul>
            <% @supplier.wines.uniq { |wine| wine.maker }.each do |wine| %>
              <li><%= wine.maker %></li>
            <% end %>
          </ul>
      </div>

      <div class="container main-box">
        <div class="row mb-3">
          <div class="col-sm-2">Comment:</div>
          <div class="col-sm-10"><%= @supplier.comment %></div>
        </div>
      </div>


  </div>
</body>
