<% wines.each do |wine| %>
        <tr>
          <td><%= wine.maker %></td>
          <td><%= wine.vintage %></td>
          <td><%= wine.country %></td>
          <td><%= wine.region %></td>
          <td><%= wine.appellation %></td>
          <td><%= wine.cuvee %></td>
          <td><%= wine.grape_variety %></td>
          <td><%= wine.quantity %></td>
          <td><%= wine.unit_price %></td>
          <td><%= wine.avg_price %></td>
          <td>
            <%= link_to 'Details', wine, class: 'btn btn-primary my-2', style: "background-color: #69272D;border-color: #69272D" %>
          </td>
        </tr>
      <% end %>
