<% wines.each do |wine| %>
<tr data-controller="clickable"
      data-clickable-url-value="<%= wine_path(wine) %>"
      data-action="click->clickable#goToUrl">
    <td><%= wine.vintage %></td>
    <td><%= wine.colour %></td>
    <td><%= wine.maker %></td>
    <td><%= wine.appellation %></td>
    <td><%= wine.cuvee %></td>
    <td><%= wine.quantity %></td>
    <td><%= wine.unit_price %></td>
    <td><%= wine.selling_price %></td>
    <td>
      <%= link_to "", wine, class: "fas fa-search me-3" %>
    </td>
  </tr>
<% end %>
