<% wines.each do |wine| %>
<tr data-controller="clickable"
      data-clickable-url-value="<%= wine_path(wine) %>"
      data-action="click->clickable#goToUrl">
    <td><%= wine.vintage %></td>
    <td><%= wine.colour %></td>
    <td><%= wine.maker %></td>
    <td><%= wine.appellation %></td>
    <td><%= wine.cuvee %></td>
    <td><%= wine.quantity %></td>
    <td><%= wine.unit_price %></td>
    <td><%= wine.selling_price %></td>
    <td>
      <% if wine.purchasing_request_items.sum(:quantity) > 0 %>
      <%= content_tag :i, "", class: "fa fa-flag" %>
      <% end %>
    </td>
  </tr>
<% end %>
