<div class="container">
  <h2>Current Stock</h2>
  <h3>Totals</h3>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">Wine Type: <span class="badge badge-primary badge-pill"><%= @wines.count %></span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Wine Stock: <span class="badge badge-primary badge-pill"><%= Wine.total_quantity %></span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Total Value: <span class="badge badge-primary badge-pill">$<%= number_with_precision(Wine.total_value, :precision => 0, :delimiter => ',') %></span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Supplier: <span class="badge badge-primary badge-pill"><%= Supplier.all.count %></span></li>
  </ul>


  <div class="form-group d-flex justify-content">
    <%= simple_form_for :search, url: wines_path, method: "GET" do |f| %>
      <div class="form-group-item">
        <%= f.input :makers, as: :select, collection: $makers, label: "Maker" %>
      </div>
      <div class="form-group-item">
        <%= f.input :vintages, as: :select, collection: (2000..2023), label: "Vintage" %>
      </div>
      <div class="form-group-item">
        <%= f.input :countries, as: :select, collection: $countries, label: "Country" %>
      </div>
      <div class="form-group-item">
        <%= f.input :regions, as: :select, collection: $regions, label: "Region" %>
      </div>
      <div class="form-group-item">
        <%= f.submit "Search", class: "btn btn-primary" %>
        <%= link_to "Reset", wines_path  %>
      </div>
    <% end %>
  </div>


   <table class="table">
    <thead>
      <tr>
        <th>Maker</th>
        <th>Vintage</th>
        <th>Country</th>
        <th>Region</th>
        <th>Appellation</th>
        <th>Cuvee</th>
        <th>Grape</th>
        <th>Stock</th>
        <th>Unit Price</th>
        <th>Avg Price</th>
      </tr>
    </thead>
    <tbody>
      <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.maker %></td>
          <td><%= wine.vintage %></td>
          <td><%= wine.country %></td>
          <td><%= wine.region %></td>
          <td><%= wine.appellation %></td>
          <td><%= wine.cuvee %></td>
          <td><%= wine.grape_variety %></td>
          <td><%= wine.quantity %></td>
          <td><%= wine.unit_price %></td>
          <td><%= wine.avg_price %></td>
          <td>
            <%= link_to 'Details', wine, class: 'btn btn-primary btn-block my-2' %>
            <div class="form-group">
              <%= form_for wine do |f| %>
                 <%= f.number_field :quantity, class: 'form-control' %>
                 <%# Implement the below action properly with JS so that
                 the wine id & quantity key-value pair is added to the purchasing request %>
                 <%= f.submit 'Add to purchasing request', class: 'btn btn-info btn-sm' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
